* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 30%;
    margin: 10% auto;
    border: 1px solid rgba(0, 0, 0, 0.311);
}

.pagination {
    display: flex;
    padding: 10px 10px;
}

.page-item {
    padding: 5px 5px;
    list-style: none;
    border: 1px solid rgba(0, 0, 0, 0.311);
    color: rgb(94, 156, 249);
}

.page-item:hover {
    background-color: rgba(0, 0, 0, 0.24);
}

.first {
    border-radius: 5px 0px 0px 5px;
}

.first:hover {
    background-color: rgba(0, 0, 0, 0.08);   
}

.last {
    border-radius: 0px 5px 5px 0px;
}

.last:hover {
    background-color: rgba(0, 0, 0, 0.08);   
}